
div[class="css-1dighg3 e1tzin5v2"]{
     background-color: #f5f5f5;
     padding: 20px 20px 20px 20px;
     border-radius: 5px;
     border: 1px solid transparent;

}
div[class="css-8u98yl exg6vvm0"]{
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    border: 1px solid rgba(49, 51, 63, 0.2);
}
